# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Software\JetBrains IntelliJ IDEA\JetBrains IntelliJ IDEA Version 2021\Project\Test Automation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
